* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    margin: 10px 0 30px 5px;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 0 0 0;
}

.divider {
    width: 2px;
    border-left: 1px solid black;
}















.playerContainer {
    border: 1px solid tomato;
    font-size: 32px;
    background: rgb(161, 159, 159);
}